/* colori delle icone */
.orange{
    color: orange;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
/* grandezza icone */
.fas{
    margin-top: 10px;
    font-size: 50px;
}

.card{
    height: 80px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.container-fluid{
    background-color: lightgrey;
    height: 100vh;
}