/* colori delle icone */
.orange{
    color: orange;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
/* grandezza icone */
.font-icons{
    margin-top: 10px;
    font-size: 50px;
}

.card{
    height: 90px;
    border-radius: 5px;
}

.container-card{
    background-color: lightgrey;
    height: 100vh;
}

/* modificare il form default di bootstrap */
.mod{
    width: 100px;
    display: inline-block;
}